html,body{
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
.bannerwrap{
    width: 100%;
    height: 590px;
    .banner{
        cursor: pointer;
        width: 1680px;
        height: 590px;
        margin: 0 auto;
        background: url('../image/air_bg.webp') no-repeat top center;
        background-size: cover;  
        position: relative;
        .banner_tit{
            width: 672px;
            height: auto;
            position: absolute;
            left: 170px;
            top: 125px;
            .tit_ico{
                width: 40px;
                height: 8px;
                background-color: #333333;
                margin-bottom: 20px;
            }
            .tit_con{
                font-size: 80px;
                line-height:110px;
                margin-bottom: 20px;
                text-align: left;
                font-weight: 700;
                color: #333333;
            }
            .tit_qus{
                font-size: 24px;
                line-height: 26px;
                margin-bottom: 20px;
                text-align: left;
                color: #333333;
            }
        }
    }
}
/* breadbar---start */
.breadbarWrap{
    width: 100%;
    height: 61px;
    .breadbarCon{
        width: 1680px;
        height: 60px;
        border-bottom: 1px solid #eeeeee;
        margin: 0 auto;
        .breadbar{
            width: 1200px;
            height: 60px;
            margin: 0 auto;
            line-height: 60px;
            a{
                color: #111;
                cursor: pointer;
                font-size: 14px;
            }
            .tars{
                display: inline-block;
                margin: 0 5px;
                position: relative;
                em{
                    border: 1px solid #e4e4e4;
                    display: inline-block;
                    padding: 0 25px 0 10px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 14px;
                    color: #000;
                    position: relative;
                    z-index: 1;
                    .air_j_down,.air_j_up{
                        position: absolute;
                        font-size: 12px;
                        top: 2px;
                        right: 7px;
                    }
                    .air_j_up{
                        display: none;
                        color: #005aaa;
                    }
                    .air_list{
                        position: absolute;
                        left: -1px;
                        top: 45px;
                        box-shadow: 0 5px 5px rgba(0,0,0,.1);
                        border: 1px solid #f5f5f5;
                        border-top: none;
                        width: 310px;
                        background: #fffdfc;
                        display: none;
                        z-index: 20;
                        li{
                            float: left;
                            width: calc(50% - 15px);
                            padding-left: 15px;
                            line-height: 42px;
                            i{
                                vertical-align:middle;
                                margin-right: 10px;
                                font-size: 22px;
                                color: #444444;
                            }
                            span{
                                display:inline-block;
                                vertical-align: middle;
                                font-size: 12px;
                                color: #444444;
                                cursor: pointer;
                                margin-right: 5px;
                            }
                        }
                    }
                }
                em:hover .air_j_down{
                    display: none;
                }
                em:hover .air_j_up{
                    display: block;
                }
                em::after{
                    content: '';
                    display: block;
                    width: 65px;
                    height: 46px;
                    position: absolute;
                    left: -1px;
                    top: -1px;
                    box-shadow: 0 5px 5px rgba(0,0,0,.1);
                    border: 1px solid #f5f5f5;
                    z-index: 10;
                    display: none;
                }
               
                em:hover{
                    border: 1px solid #ffffff;
                }
                em:hover::after{
                    display: block;
                }
                em:hover .air_list{
                    display: block;
                }
            }
        }
    }
}
/* breadbar---end */

/* function----start */
.funcwrap{
    width: 100%;
    height: auto;
    /* top */
    .functit{
        width: 1680px;
        max-width: 1680px;
        height: 44px;
        padding: 15px 0 5px;
        background-color: #fafafa;
        margin: 0 auto;
        .fntit{
            width: 1200px;
            margin: 0 auto;
            .fntitCon{
                width: 1200px;
                height: 30px;
                .device{
                    display: inline-block;
                    width: 40px;
                    height: 100%;
                    padding: 0px 15px 0 17px;
                    border-left: 4px solid #005aaa;
                    font-size: 20px;
                    color: #000;
                }
                .devCount{
                    display: inline-block;
                    font-size: 12px;
                    color:#444;
                    margin-right: 25px;
                    line-height: 30px;
                    min-width: 65px;
                }
                .devKey{
                    display: inline-block;
                    cursor: pointer;
                }
                .DevClear{
                    display: inline-block;
                    height: 28px;
                    width: 48px;
                    padding: 0 10px;
                    border: 1px solid #e4e4e4;
                    text-align: center;
                    line-height: 28px;
                    color: #444;
                    cursor: pointer;
                }
            }
            .fntitCon>div{
                vertical-align: middle;
            }
        }
    }
    /* select */
    .select{
        width: 1680px;
        max-width: 1680px;
        margin: 0 auto 20px;
        height: auto;
    }
    .select>div{
        border-bottom: 1px solid #fafafa;
        font-size: 12px;
        position: relative;
        min-height: 39px;
        width: 1050px;
        padding-left: 150px;
        margin: 0 auto;
        line-height: 39px;
        color: #000000;
        .sel_tit{
            position: absolute;
            top: 0;
            left: 0;
        }
        .sel_tit_show{
            position: relative;
            span{
               position: relative;
               display: inline-block;
               min-width: 80px;
               padding: 0 15px; 
               font-size: 12px;
               cursor: pointer;
               i{
                   vertical-align: middle;
                   font-size: 12px;
                   position: absolute;
                   top: 1px;
                   right: 20px;
               }
               .air_sel_up{
                    display: none;
                    color: #005aaa;
               }
            }
            
        }
        .changeSpan{
            box-shadow: 5px -5px 5px rgba(0,0,0,.1);           
            border: 1px solid #f5f5f5;
            z-index: 10; 
            border:1px solid #f5f5f5;  
            border-bottom:none;  
            background: #fffdfc;       
        }
       
        .other_tit_show{
            position: relative;
            >span{
                position: relative;
                display: inline-block;
                border: 1px solid #ffffff;
                padding: 0 32px 0 15px;
                margin-right: 10px;
                cursor: pointer;
                i{
                    vertical-align: middle;
                    font-size: 12px;
                    position: absolute;
                    top: 0px;
                    right: 10px;
                }
                .air_sel_up{
                     display: none;
                     color: #005aaa;
                }
            }
            .other_list_show{
                display: none;
                width: 100%;
                min-height: 39px;
                background: #fffdfc;
                border: 1px solid #f5f5f5;
                box-shadow: 5px 0px 5px rgba(0,0,0,.1);
                border-bottom: none;
                border-top: none;
                padding-left: 15px;
                position: absolute;
                top: 39px;
                left: -15px;
                z-index: 29;
                li{
                    span{
                        font-size: 12px;
                        display: inline-block;
                        padding: 0 13px;
                        cursor: pointer;
                        line-height: 25px;
                        margin-bottom: 5px;
                        color: #444;
                    }
                }
            }
        }
    }
    /* select end */
    /* 产品展示 start*/
    .deviceShowWrap{
        width: 1680px;
        height: auto;
        margin: 0 auto;
        .devShow{
            width: 1200px;
            height: 40px;
            margin: 0 auto;
            border: 1px solid #ddd;
            .all_list{
                height: 40px;
                font-size: 14px;
                color: #000;
                float: left;
                li{
                    cursor: pointer;
                    float: left;
                    width: 99px;
                    height: 40px;
                    border-right: 1px solid #ddd;
                    line-height: 40px;
                    text-align: center;
                    position: relative;
                    i{
                        position: absolute;
                        right: 6px;
                        top: 0px;
                        color: #fff;
                        font-size: 12px;
                    }
                    .hd_l{
                        display: none;
                    }
                }
                .sli3{
                    i{
                        right: 18px;
                    }
                    
                }
                .libg{
                    background: #005aaa;
                    color: #fff;
                }
            }
            .prcie_range{
                float: left;
                width: 175px;
                height: 40px;
                line-height: 40px;
                margin-left: 30px;
                position: relative;
                z-index: 9;
                #lowPrice,#heightPrice{
                    display: inline-block;
                    width: 65px;
                    box-sizing: content-box;
                    padding: 6px 0 6px 8px;
                    height: 12px;
                    border: 1px solid #ddd;
                    text-align: left;
                    font-size: 12px;
                }
                .blocked{
                    display: inline-block;
                    width: 12px;
                    font-size: 12px;
                    text-align: center;
                }
                .price_search{
                    display: none;
                     width: 185px;
                     height: 70px;
                     position: absolute;
                     left: -10px;
                     top: -1px;
                     border: 1px solid #ddd;
                     background-color: #fff;
                     z-index: -2;
                     .price_btn{
                         position: absolute;
                         bottom: 12px;
                         right: 12px;
                         height: 20px;
                         width: 130px;
                         button{    
                            width: 50px;
                            display: inline-block;
                            border-radius: 2px;
                            margin: 0 6px;
                            border: 1px solid #eee;
                            height: 18px;
                            line-height: 17px;
                            font-size: 12px;
                            text-align: center;
                            cursor: pointer;

                        }
                        .qk{
                            border-color: #eee;
                            background: #fafafa;
                            color: #444;
                            }
                        .ok{
                            border-color: #005aaa;
                            background: #005aaa;
                            color: #fff;
                        }

                     }
                }
            }
            .dev_active{
                width: 328px;
                height: 40px;
                margin-right: 30px;
                float: right;
                text-align: right;
                span{
                    cursor: pointer;
                    text-align: left;
                    font-size: 14px;
                    margin: 5px 0px;
                    display: inline-block;
                    width: 56px;
                    height: 30px;
                    line-height: 30px;
                    padding: 0 10px 0 28px;
                    background: url('../image/spring1.webp') -5px -90px no-repeat;
                }            
                .show_ok{
                    background: url('../image/spring1.webp') -5px -120px no-repeat;
                }
            }
        }
        /* 数据加载*/ 
        .product_listbox{
            width: 1230px;
            height: auto;
            margin: 30px auto 0;
            position: relative;
            .dataList{
                width: 1020px;
                margin: 0 207px 0 3px;
                min-height: 655px;
                padding-bottom: 80px;
                .loaddata{
                    width: 100%;
                    height: auto;
                    li{
                        width: 255px;
                        height: 450px;
                        float: left;
                        box-sizing: border-box;
                        .databox{
                            margin: 0 12px 20px;
                            box-sizing: border-box;
                            text-align: center;
                            font-size: 12px;
                            padding: 25px 0 45px;
                            border: 1px solid #fff;
                            position: relative;
                            overflow: hidden;
                            background: #fff;
                            .imgbox{
                                display: block;
                                margin: 0 auto 24px;
                                position: relative;
                                img{
                                    width: 100%;
                                }
                            }
                            .textbox{
                                height: 56px;
                                margin-bottom: 5px;
                                .ink_base{
                                    font-size: 14px;
                                    line-height: 18px;
                                    margin-bottom: 7px;
                                    max-height: 24px;
                                    overflow: hidden;
                                    display: block;
                                    color: #111;
                                }
                                p{
                                    font-size: 12px;
                                    color: #888;
                                    line-height: 13px;
                                    height: 13px;
                                    overflow: hidden;
                                }
                            }
                            .jiage{
                                    color: #888;
                                    line-height: 12px;
                                    font-size: 12px;
                                    margin-bottom: 18px;
                                    position: relative;
                                b{
                                    color: #005aaa;
                                    font-size: 14px;
                                    display: inline-block;
                                    padding-left: 15px;
                                    font-weight: 400;
                                    vertical-align: top;
                                    position: relative;
                                    top: -1px;
                                }
                                b::before {
                                    content: "¥";
                                    position: absolute;
                                    left: 7px;
                                    bottom: 0px;
                                    font-size: 14px;
                            }
                            }
                            
                        }
                        .Interaction{
                            line-height: 14px;
                            a{
                                color: #005aaa;
                                vertical-align: middle;
                                display: inline-block;
                                padding: 0 2px;
                            }
                            i{
                                color: #d81e06;
                                font-size: 12px;
                            }
                        }
                    }
                    .noRes{
                        width: 100%;
                        height: auto;
                        padding: 15px 0 40px;
                        text-align: center;
                        img{
                            margin-bottom: 30px;
                        }
                    }
                    li .databox:hover{
                        border: 1px solid #fafafa;
                        box-shadow: 0 8px 10px rgba(0,0,0,.1);
                    }
                }
            }
            .lovelist{
                position: absolute;
                right: 15px;
                top: 0;
                border: 1px solid #ddd;
                font-size: 12px;
                color: #111;
                width: 180px;
                box-sizing: border-box;
                min-height: 885px; 
                z-index: 15;
                text-align: center;
                h1{
                    font-size: 14px;
                    line-height: 58px;
                    border-bottom: 1px solid #ddd;
                    font-weight: 700;
                    margin-bottom: 0;
                }
                li{
                    padding: 15px 0;
                    margin: 0 9px;
                    border-bottom: 1px solid #ddd;
                    img{
                        width: 160px;
                    }
                    p{
                        margin: 10px 0 15px;
                        line-height: 20px;
                        font-size: 14px;
                    }
                    h3{
                        line-height: 14px;
                        margin-bottom: 5px;
                        word-wrap: break-word;
                        font-size: 12px;
                    }
                    h4{
                        line-height: 15px;
                        font-size: 12px;
                    }
                }
                li:last-child{
                    border:none;
                }
            }
        }
    }

    /* 产品展示 end*/

}
/* function----end */

