.productSlider{
    width: 1680px;
    background: rgb(240, 241, 244);
    padding: 22px 0 20px;
    min-height: 670px;
    margin:0 auto;
    .productFd{
        width: 1200px;
        padding: 15px;
        height: auto;
        margin: 0 auto;
        .productTit{
            line-height: 18px;
            font-size:14px;
            a{
                color: #333;
            }
        }
        .productDetail{
            margin-top: 55px;
            .product_left{
                width: 500px;
                height: auto;
                float: left;
                .fdj{
                    width: 480px;
                    height: 480px;
                    margin-right: 20px;
                    position: relative;
                    .fd_left{
                        width: 480px;
                        height: 480px;
                        position: relative;
                        img{
                            width: 480px;
                            height: 480px;
                        }
                        .mask{
                            width: 160px;
                            height: 160px;
                            position: absolute;
                            left: 0;
                            top: 0;
                            background-color: blue;
                            opacity: .2;
                            cursor: move;
                            z-index: 1px;
                            // display: none;
                        }
                     }
                     .maxBox{
                         display: none;
                         width: 480px;
                         height: 480px;
                         overflow: hidden;
                         position: absolute;
                         left: 500px;
                         top: 0px;
                         background: #ffffff;
                         z-index: 30;
                        img{
                           width: 1200px;
                           height: 1200px; 
                           position: absolute;
                           left: 0;
                           top: 0;
                        }
                    }
                }
                .lunbo{
                    width: 500px;
                    height: 62px;
                    margin: 10px 0 40px;
                    position: relative;
                    .lbimg{
                        width: 430px;
                        margin:0 45px 0 25px;
                        overflow-x: hidden;
                        ul{
                            width: 602px;
                            height: 62px;
                            li{
                                float: left;
                                width: 62px;
                                padding: 0 12px;
                                img{
                                    width: 60px;
                                    height: 60px;
                                    border: 1px solid #cccccc;
                                    cursor: pointer;
                                }
                                .img_border{
                                    border: 1px solid #0c5ca8;
                                }
                            }
                        }
                    }
                    .btn-left{
                        position: absolute;
                        left: 0;
                        top: 50%;
                        margin-top: -10px;
                        cursor: pointer;
                        i{
                            font-weight: bold;
                            font-size: 20px;
                            color: #333;
                        }
                    }
                    .btn-right{
                        position: absolute;
                        right: 20px;
                        top: 50%;
                        margin-top: -12px;
                        cursor: pointer;
                        i{
                            font-weight: bold;
                            font-size: 20px;
                            color: #999999;
                        }
                    }
                }
            }
            .product_right{
                float: left;
                width: 700px;
                height: auto;
                box-sizing: border-box;
                padding-left: 258px;
                padding-top: 70px;
                p{
                    color: #111;
                    line-height: 40px;
                    font-size: 36px;
                    font-weight: 700;
                    margin-bottom: 16px;
                    padding-right: 23px;
                }
                span{
                    font-size:18px;
                    color: #444;
                    display: block;
                }
                .ckj_priceP{
                    margin-top: 100px;
                    span{
                        display: inline-block;
                        font-size: 14px;
                        line-height: 1;
                        vertical-align: bottom;
                    }
                    i{
                        display: inline-block;
                        font-size: 18px;
                        line-height: 1;
                        vertical-align: bottom;
                    }
                    em{
                        font-size: 36px;
                        vertical-align: bottom;
                        line-height: 0.9;
                        position: relative;
                        top: 2px;
                    }
                }
                .tip{
                    margin-top: 15px;
                    position: relative;
                    i{
                        position: absolute;
                        left: 2px;
                        top: 2px;
                        font-size: 14px;
                        color: #F7AB48;
                    }
                    p{
                        color: #888;
                        font-size: 12px;
                        position: relative;
                        padding-left: 16px;
                        margin-left: 10px;
                        line-height: 1.5;
                        padding-right: 80px;
                    }
                }
                .buy_product{
                    margin-top: 78px;
                    position: relative;
                    .onlineBuy{
                        width: 200px;
                        height: 48px;
                        border-radius: 24px;
                        cursor: pointer;
                        background-color: #0c5ca8;
                        color: #fff;
                        line-height: 48px;
                        font-size: 18px;
                        text-align: center;
                        transition: box-shadow .3s;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    .ecode{
                        position: absolute;
                        left: 220px;
                        top: 7px;
                        height: 30px;
                        i{
                            font-size: 30px;
                            display: inline-block;
                            vertical-align: middle;
                        }
                        span{
                            font-size: 14px;
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: 10px;
                        }
                    }
                    .lookfor{
                        width: 200px;
                        text-align: center;
                        font-size: 16px;
                        position: absolute;
                        top: 84px;
                        left: 0;
                        a{
                            color: #0c5ca8;
                        }
                    }
                }
            }
        }
    }
}