.navWrap{
  width: 100%;
  height: 70px;
  min-width: 1680px;
  background-color: #ffffff;
  .nav{
    width: 1680px;
    height: 100%;
    margin: 0 auto;
    .nav_content{
      width: 1200px;
      height: 100%;
      margin: 0 auto;
      padding: 0 15px;
      .nav_con{
        width: 900px;
        height: 100%;
        float: left;
        .nav_logo{
          width: 85px;
          height: 100%;
          line-height: 70px;
          float: left;
          img{
            width: 85px;
            height: 26px;
          }
        }
        .nav_part{
          float: left;
          margin-left: 80px;
          height: 100%;
          .parts{
            float: left;
            height: 70px;
            font-weight: bold;
            position: relative;
            a{
              line-height: 70px;
              padding: 0 30px;
              color: #333;
              font-size: 14px;
            }
            .dist{
              position: absolute;
              width: 140px;
              top: 64px;
              left: 0;
              display: none;
              z-index: 20;
              background-color: #f6f6f6;
              border-top: 6px solid #005aaa;
              a{
                display: block;
                width: 110px;
                padding: 0 0 0 30px;
                text-align: left;
                font-size: 14px;
                line-height: 50px;
                color: #444444;
                font-weight: normal;
                i{
                  font-size: 20px;
                   margin: 0 10px 0 1px;
                   vertical-align: middle;
                }
                span{
                  vertical-align: middle;
                }
              }
            }
            .list2{
              width: 180px;
              a{
                width: 150px;
              }
              .category_li2{
                width: 528px;
                height: calc(100% - 17px);
                padding: 7px 0 10px 12px;
                position: absolute;
                left: 180px;
                top: 0;
                background-color: #ffffff;
                display: none;
                z-index: 20;
                .cate_con{
                  width: 100%;
                  .cate_case{
                    h3{
                      line-height: 48px;
                      height: 44px;
                      color: #3276b6;
                      padding-left: 30px;
                      font-size: 14px;
                    }
                    .cate_menu{
                      width: 100%;
                      li{
                        float: left;
                        a{
                          font-size: 12px;
                          width: 102px;
                          padding-left: 30px;
                          line-height: 28px;
                          height: 24px;
                          color: #333333;
                        }
                      }
                    }
                    .cate_menu a:hover{
                      color: #3276b6;
                    }
                  }
              }
              .cate_img{
                  padding: 50px 30px 0 20px;
                  position: absolute;
                  left: 12px;
                  bottom: 0;
                  .img_1{
                    margin-left: 10px;
                    width: 180px;
                    height: 180px;
                    float: left;
                  }
                  .cate_img_con{
                    float: left;
                    margin-left: 70px;
                    text-align: center;
                    .cate_tit{
                      height: 30px;
                      font-size: 30px;
                      color: #111;
                      line-height: 30px;
                    }
                    .cate_intro{
                      font-style: normal;
                      height: 18px;
                      line-height: 18px;
                      font-size: 18px;
                      color: #555;
                      padding-bottom: 25px;
                      margin-top: 10px;
                    }
                    .cate_more{
                      display: inline-block;
                      font-size: 14px;
                      color: #0c5ca8;
                      width: 90px;
                      height: 30px;
                      border-radius: 30px;
                      border: 1px solid #0c5ca8;
                      text-align: center;
                      line-height: 30px;
                      padding: 0;
                    }
                  }
                }
              }
            }
            .list4{
              .category_li4{
                width: 240px;
                height: calc(100% - 10px);
                padding: 10px 0 0 40px;
                position: absolute;
                left: 140px;
                top: 0;
                background-color: red;
              }
            } 
          .dist .dist_a a:hover{
              color: #005aaa;
              background-color: #ffffff;
            }   
          }
          .parts:hover .dist{
            display: block;
          }
         .parts:hover .nav_tit{
            color: #05457e;
          }
        }
      }
      .nav_serac{
        width: 300px;
        height: 100%;
        float: left;
        p{
          height: 70px;
          line-height: 70px;
          width: 168px;
          position: relative;
          float: left;
          input{
            width: 158px;
            height: 36px;
            line-height: 36px;
            border: 1px solid #ffffff;
            border-radius: 5px;
            background-color: #fafafa;
            padding-left: 10px;
          }
          span{
            position: absolute;
            right: 4px;
            top: 1px;
            font-size: 24px;
            z-index: 21;
            color: rgb(17, 17, 17);
          }
        }
        span{
          float: left;
          font-size: 24px;
          z-index: 21;
          margin-left: 16px;
          position: relative;
          top: 23px;
          cursor: pointer;
        }
        .yh{
          color: #005aaa;
          font-weight: bold;
         }
        
      }
    }
  }
}